h1 {color: #0C49C4;}
body {background-color: #73FFCE}
p {font-size: 18px}
#margin_to_banner {width:70%;}

#buickSkylark {float:right; margin-left: 10px; margin-bottom: 10px;}
#chcEthan {float:left; margin-right: 10px; margin-bottom: 10px;}
#spainTrip {margin-right: 10px; clear:left;}
#seniorProm {margin-left: 10px;}
